<nav class="navbar navbar-light bg-light" *ngIf="isLogin | async as isloggedIn">
  <div class="container-fluid">
      <a class="navbar-brand">App</a>
          <div class="navbar-nav">
              <a class="nav-item nav-link" *ngIf="!isAdmin" routerLink="/dashboard">Dashboard</a>
              <a class="nav-item nav-link" *ngIf="isAdmin" routerLink="/private-dashboard">Private Dashboard</a>
          </div>
      <div class="d-flex">
          <button class="btn btn-outline-success nav-item" type="submit" (click)="logout()">Logout</button>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>
